@media screen and (max-width: 991px){
  .np-sidebar {
    display: none;
  }
  .sidemenu-nav {
    display: unset;
  }
  .btn-checkbox {
    display: grid;
    float: left;
  }
  .btn-add {
    height: $size-38;
    min-width: $size-38;
    width: 100%;
    border: 1px solid $gray-30;
    background-color: $white;
    color: $green-20;
  }

}