@media screen and (max-width: 768px) {
 .category-tags-details {
   .baki {
     display: block!important;
     h4 {
       border-right: none;
       padding-left: 0!important;
     }
   }
 }
  .basicinfo{
    &--details1 {
      display: block!important;
    }
  }

}

@media screen and (min-width: 991px) {
  .np-content {
    padding: 20px 50px;
  }
  .modal-size {
    max-width: 930px;
  }
}
@media screen and (max-width: 991px){
  .np-sidebar {
    display: none;
  }
  .sidemenu-nav {
    display: unset;
  }
  .btn-checkbox {
    display: grid;
    float: left;
  }
  .btn-add {
    height: $size-38;
    min-width: $size-38;
    width: 100%;
    border: 1px solid $gray-30;
    background-color: $white;
    color: $green-20;
  }
}