.main {
  .has-search{
    input {
      &::placeholder {
        color: $gray-80;
        opacity: 0.5;
        font-size: $size-14;
        line-height: 1.36;
      }
    }
    .form-control {
      padding-left: $size-38;
      border: none;
      box-shadow: 1px 3px 13px 2px rgba(53, 64, 82, 0.1);
      background-color: $white;
      margin-top: $size-28;

    }
    .form-control-feedback {
      position: absolute;
      z-index: 2;
      display: block;
      width: $size-38;
      height: $size-38;
      line-height: $size-42;
      text-align: center;
      pointer-events: none;
      color: $gray-50;
      font-size: $size-12;
    }
  }
}
.box-input-text {
  width: 100%;
  input {
    &::placeholder {
      color: $gray-50;
      font-size: $size-16;
    }
  }
}
.custom-textarea {
  textarea {
    &::placeholder {
      color: $gray-50;
      font-size: $size-16;
    }
  }
  .form-text-big {
    color: $gray-50;
    font-size: $size-16;
    resize: none;
    border: 1px solid $gray-30;
    &:focus {
      box-shadow: none;
      outline: none;
      border-color: $gray-30;
    }
  }
}