.sidemenu-nav {
  display: none;
  .nav-side-menu-text-main {
    font-size: $font-size1;
    font-weight: $font-weight;
    color: $white;
  }
  .components{
    .sidemenu-text-nav {
      position: relative;
      color: $white;
      font-size: $font-size2!important;
      &:hover {
        text-decoration: none;
      }
      img {
        padding: $element-position;
      }
      .badge-orange-nav {
        font-size: $font-size1;
        position: absolute;
        right: -70px;
        background-color: $nortification-badge;
        color: $white;
        width: 20px;
        height: 20px;
        border-radius: $font-size2;
      }
    }
  }

}


.wrapper {
  .np-sidebar {
    min-width: 250px;
    max-width: 250px;
    background: $background-color;
    color: $sidemenu-icons;
    transition: all 0.3s;
    height: 100%;

    &.active {
      margin-left: -250px;
    }

      .sidemenu-position {
        margin-top: 30px;
        .nav-side-menu-text {
          color: $sidemenu-icons;
          font-size: $font-size1;
        }
        .components {

          //.sidebar-header {
          //  padding: 20px;
          //  background: $background-color;
          //  color: $sidemenu-icons;
          //  font-size: $font-size;
          //  font-weight: $font-weight;
          //}

          li {
            a {
              padding: 4px;
              line-height: 1.5;
              display: block;
              color: $sidemenu-icons;
              font-size: $font-size1;

              &:hover {
                color: $sidemenu-icons;
                background: $white;
                text-decoration: none;
              }
              &:focus {
                color: $green-type-color !important;
                border-right: 2px solid $green-type-color;
              }
            }

          .sidemenu-text {
            position: relative;
            border-right: 2px solid transparent;


            img {
              padding-right: $element-position;
            }
          }
        }
      }
    }
  }
}



