.sidemenu-nav {
  display: none;
  .nav-side-menu-text-main {
    font-size: $size-12;
    font-weight: $weight-600;
    color: $white;
  }
  .components{
    .sidemenu-text-nav {
      position: relative;
      color: $white;
      font-size: $size-14!important;
      &:hover {
        text-decoration: none;
      }
      img {
        padding-right: $size-10;
      }

    }
  }

}


.wrapper {
  .np-sidebar {
    min-width: 250px;
    max-width: 250px;
    background: $white-10;
    color: $gray-50;
    transition: all 0.3s;
    height: 100%;

    &.active {
      margin-left: -250px;
    }

      .sidemenu-position {
        margin-top: 30px;
        .nav-side-menu-text {
          color: $gray-50;
          font-size: $size-12;
        }
        .components {

          //.sidebar-header {
          //  padding: 20px;
          //  background: $background-color;
          //  color: $sidemenu-icons;
          //  font-size: $font-size;
          //  font-weight: $font-weight;
          //}

          li {
            a {
              padding: $size-4;
              line-height: 1.5;
              display: block;
              color: $gray-50;
              font-size: $size-12;

              &:hover {
                color: $gray-50;
                background: $white;
                text-decoration: none;
              }
              &:focus {
                color: $green-20 !important;
                border-right: 2px solid $green-20;
              }
            }

          .sidemenu-text {
            position: relative;
            border-right: 2px solid transparent;


            img {
              padding-right: $size-10;
            }
          }
        }
      }
    }
  }
}



