
  .shadow-card1 {
    padding: $size-10;
    box-shadow: 1px 4px 10px 3px rgba(53, 64, 82, 0.1);

    .card-elements {
      position: relative;
      width: 100%;

      .np-card {
        width: 100%;
        height: auto;
        padding-bottom: 0;
      }
      .np-project {
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 26px;
        background-color: $gray-80;
        color: $white;
        border-radius: 2px;
        text-align: center;

      }
    }

    .np-card-body {
      padding-top: 0;

      .np-card-title1 {
        font-size: $size-18;
        font-weight: $weight-600;
        color: $gray-80;
        margin-bottom: 0;
      }
      .np-card-title2 {
        font-size: $size-14;
        font-weight: $weight-600;
        color: $gray-60;
      }

      .card-detail-description {
        font-size: 11px;
        font-weight: bold;
        color: $gray-60;
      }

    }
  }
