
.btn-dropdown {
  position: relative;
  width: 100%;
  border-radius: $size-4;
  box-shadow: 1px 3px 13px 2px rgba(53, 64, 82, 0.1);
  background-image: linear-gradient(to top, $white-20, $white);
  color: $gray-80;
  font-size: $size-14;
  font-weight: $weight-600;
  &:hover {
    text-decoration: none;
    color: $gray-80;
  }
  &:focus {
    box-shadow: none;
  }
}

.dropdown-list {
  position: absolute;
  width: 100%;
}
.dropdown-item {
  font-size: $size-14;
  color: $gray-80;
}
.dropdown-item:hover {
  background-color: $green-20;
  color: $white;
}
.drop-list {
  width: 100%;
}
.btn-flag-drop {
  width: 85px;
  background-color: #ffffff;
  color: #d0d8dc;
  border: 1px solid #d0d8dc;
  &::after {
    position: relative;
    right: -13px;
    border-radius: 0.5px;
    //BOJA DROP STRELICE SE NE UKLAPA SA DIZAJNOM TAKO DA JE OSTALA DEFAULTNA
  }
  .flag-drop {
    position: relative;
    right: 17px;
    top: -2px;
    font-size: $size-12;
    color: #7ed321;
  }
}
