
.btn-dropdown {
  position: relative;
  width: 100%;
  border-radius: $radius;
  box-shadow: 1px 3px 13px 2px rgba(53, 64, 82, 0.1);
  background-image: linear-gradient(to top, #f7f8fa, $white);
  color: $sidemenu-icons;
  font-size: $font-size2;
  font-weight: $font-weight;
}
.btn-dropdown:hover {
  text-decoration: none;
  color: $dark-blue;
}
.btn-dropdown:focus {
  box-shadow: none;
}
.dropdown-list {
  position: absolute;
  width: 100%;
}
.dropdown-item {
  font-size: 14px;
  color: $dark-blue;
}
.dropdown-item:hover {
  background-color: $green-type-color;
  color: $white;
}
.drop-list {
  width: 100%;
}
