@font-face {
  font-family: SourceSansPro;
  src: url(/font/SourceSansPro-Regular.otf);
}
body {
  background-color: $white-10;
;
}
.text-results {
  font-size: $size-20;
  color: $gray-80;
  .num-projects {
    font-weight: bold;
  }
}
.expand-all {
  font-size: 1rem;
  color: $green-20;
  &:hover {
    text-decoration: underline;
    color: $green-20;
  }
}
.labels-dropdown {
  font-size: $size-12;
  font-weight: $weight-600;
  color: $gray-70;
}