
body {
  background-color: $white-10;
  @font-face {
    font-family: test1;
    src: url(../../font/SourceSansPro-Regular.ttf);
  }
  @font-face {
    font-family: test2;
    src: url(/font/SourceSansPro-Bold.ttf);
  }
}
h1 {
  font-family: test1;
  font-size: $size-22;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  color: $gray-100;
}
h2 {
  font-size: $size-20;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  color: $gray-100;
}
h3 {
  font-family: SourceSansPro;
  font-size: $size-18;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  color: $gray-100;
}
h4 {
  font-family: SourceSansPro;
  font-size: $size-16;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  color: $gray-100;
}
h5 {
  font-family: SourceSansPro;
  font-size: $size-14;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  color: $gray-100;
}
h6 {
  font-family: SourceSansPro;
  font-size: $size-12;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  color: $gray-100;
}
.text-results {
  font-size: $size-20;
  color: $gray-80;
  .num-projects {
    font-weight: bold;
  }
}
.expand-all {
  font-size: 1rem;
  color: $green-20;
  &:hover {
    text-decoration: underline;
    color: $green-20;
  }
}
.labels-dropdown {
  font-size: $size-12;
  font-weight: $weight-600;
  color: $gray-70;
}