@font-face {
  font-family: SourceSansPro;
  src: url("../font/SourceSansPro-Regular.otf");
}
@font-face {
  font-family: SourceSansPro-Bold;
  src: url("../font/SourceSansPro-Bold.otf");
}
@font-face {
  font-family: SourceSansPro-Semibold;
  src: url("../font/SourceSansPro-Semibold.otf");
}

body {
  background-color: $white-10;
}
h1 {
  font-family: 'SourceSansPro', sans-serif;
  font-size: $size-22;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  color: $gray-100;
}
h2 {
  font-family: 'SourceSansPro', sans-serif;
  font-size: $size-20;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  color: $gray-100;

  span{
    font-weight: $weight-normal;
  }
}
h3 {
  font-family: 'SourceSansPro', sans-serif;
  font-size: $size-18;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  color: $gray-100;
}
h4 {
  font-family: 'SourceSansPro', sans-serif;
  font-size: $size-16;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  color: $gray-100;
}
h5 {
  font-family: 'SourceSansPro', sans-serif;
  font-size: $size-14;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  color: $gray-100;
}
h6 {
  font-family: 'SourceSansPro', sans-serif;
  font-size: $size-12;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  color: $gray-100;

}
.text-results {
  font-size: $size-20;
  color: $gray-80;
  .num-projects {
    font-weight: bold;
  }
}
.expand-all {
  font-size: 1rem;
  color: $green-20;
  &:hover {
    text-decoration: underline;
    color: $green-20;
  }
}
.labels-dropdown {
  font-size: $size-12;
  font-weight: $weight-600;
  color: $gray-70;
}