//White
$white: #ffffffff;
$white-10: #fcfdfd;
$white-20: #f7f8fa;
//Green
$green-10: #74c7a8;
$green-20: #00797a;
$green-30: #009394;
$green-40: #006566;
//Orange
$orange-10: #ff7800;
//Gray
$gray: #aaa;
$gray-10: #eff3f6;
$gray-20: #e6eaee;
$gray-30: #d0d8dc;
$gray-40: #bbc5d5;
$gray-50: #9fa9ba;
$gray-60: #7f8fa4;
$gray-70: #68768c;
$gray-80: #354052;
$gray-90: #31353e;
$gray-100: #717986;
//Red
$red-10: #c23e4e;




//font-size

$size-4: 0.25rem;
$size-10: 0.625rem;
$size-12: 0.75rem;
$size-13: 0.8125rem;
$size-14: 0.875rem;
$size-16: 1rem;
$size-18: 1.125rem;
$size-20: 1.25rem;
$size-22: 1.375rem;
$size-24: 1.5rem;
$size-28: 1.75rem;
$size-36: 2.25rem;
$size-38: 2.375rem;
$size-42: 2.625rem;
$size-44: 2.75rem;

//font-weight

$weight-600: 600;
$weight-bold: bold;
$weight-normal: 400;