
//Colors
$white: #ffffffff;
$green-type-color: #00797a;
$background-color: #fcfdfd;
$nav-bar-icon: #74c7a8;
$nortification-badge: #ff7800;
$sidemenu-icons: #9fa9ba;

//Sizes

$element-position: 10px;
$font-size: 12px;
$font-weight: 600;
$radius: 4px;
$title-size: 22px;
